<div class="">
  <div class="col-md-11 mx-auto">
    <div class="row">
      <div class="col-md-6 card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5">
              Employee List
            </div>
            <div class="col-md-7 text-right">
              <app-export [title]="'Employee List'" [data]="employeeList"
                [headers]="['EId','Name','DOJ','Highest Qualification']" [selectorId]="'#employee-list-table'">
              </app-export>
            </div>
          </div>
        </div>
        <table class="table table-striped" id="employee-list-table">
          <thead>
            <tr>
              <th scope="col">EId</th>
              <th scope="col">Name</th>
              <th scope="col">DOJ</th>
              <th scope="col">Highest Qualification</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeeList">
              <td>{{item.employeeId}}</td>
              <td>{{item.employeeName}}</td>
              <td>{{item.doj}}</td>
              <td>{{item.highestQualification}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-5">
              Employee Qualification
            </div>
            <div class="col-md-7 text-right">
              <app-export [selectorId]="'#employee-qualification-chart'" [title]="'Employee Qualification'"
                [data]="employeeQualificationChart.data" [headers]="['Qualification','No Of Employees']" [isChart]="true"></app-export>
            </div>
          </div>
        </div>
        <div id="employee-qualification-chart">
          <google-chart *ngIf="employeeQualificationChart.display" style="width: 100%; height: 400px;"
            [title]="employeeQualificationChart.title" [type]="employeeQualificationChart.type"
            [data]="employeeQualificationChart.data" [columnNames]="employeeQualificationChart.columnNames"
            [roles]="employeeQualificationChart.roles" [options]="employeeQualificationChart.options">
          </google-chart>
        </div>
      </div>
    </div>
  </div>
</div>